* {
  box-sizing: border-box;
}

body {
  background-color: lightyellow;
}

a {
  text-decoration: none;
}

.currencyCard {
  cursor: pointer;
  color: black;
  &:hover {
    color: yellow;
    background-color: darkgreen;
  }
}

.center {
  background-color: inherit;
  position: relative;
  height: 70px;
  button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
